li{
  list-style: none;
  text-align: left;
  line-height: 25px;
}
.chat-btn{
  display: inline-block;
}
.chat-btn div{
  display: inline-block;
  line-height: 22px;
}
.chat-btn .item-btn-edit{
  vertical-align: top;
  font-size: 22px;
  font-weight: bold;
  margin-right: 5px;
}
.input.form-control{
  width: 100%;
}
.chat-btn div:hover{
  cursor: pointer;
  color: #000;
}
.chat-btn .active{
  color: #000;
}
.chat-btn .active:hover{
  cursor: default;
}
.chat-btn .unactive{
  color: #888;
}
.chat-btn .unactive:hover{
  color: #888;
  cursor: default;
}
#edit-message{
  margin: 0 10px 0 0;
}
.input-field{
  height: 100px;
  line-height: 100px;
  background: #efefef;
}
.item .item-btn-del{
  margin-left: 31px;
}
.btn{
  font-weight: 700;
}
form.container{
  margin-bottom: 20px;
}
input::placeholder{
  font-size: 14px;
}